:root{
    --primary-color:#033b4a;
    --secondary-color:#20c997;
    --gray:#4a4a4d;
    --bg-primary:#cad2d9;
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul {
    list-style:none;
}
a {
    text-decoration: none;
}

/* Utility classes*/

.text-primary {
    color: var(--secondary-color);
}
.content-text .btn-primary {
    background-color:#20c997;   
    color:white;
    padding: 8px 20px;
    font-size:14px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.content-text .btn-primary:hover {
    background-color: #15a076;
}
.container {
    max-width: 1100px;
    margin:auto ;
    padding:0 2rem;

}


/*Header Start*/
header {
    background-color: var(--bg-primary);
    height:100vh;
}
header .navbar {
    background-color: white;
    border-bottom: 1px solid #ccc;
    position:fixed;
    width:100%;
    
}
header .navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin:auto;
    padding: 1.5rem 2rem;
}
#home #logo {
    color: var (--primary-color);
    font-size:24px;
    font-weight:600;
}
header .navbar nav ul {
    display: flex;
    justify-content: center;
    align-items:center;
}
header .navbar nav ul a {
    margin: 0 15px;
    color: var (--primary-color);
    font-weight: 600;
}
header .header-content {
    display:grid;
    grid-template-columns: 1.5fr 1fr;
    align-items:center;
    max-width: 1100px;
    margin:auto;
    padding: 5rem 2rem 0;
    height:100%;
}
header .header-content .content-text{
    margin-bottom: 5rem;
}

#home .header-content p span {
    font-weight: 700;
    font-size: 20px;
}
#home .header-content h1 {
    font-size: 60px;
    color : var(--primary-color);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}
#home .header-content .title {
    font-size:20px;
    color : var(--primary-color);
    margin: 10px 0;
    font-weight: 500;

}

#home .header-content .social {
    margin : 1rem 0 2rem;   
}


#home .header-content .social a i{
    font-size: 18px;
    padding :10px;
    background-color: var(--gray);
    color : white;
    border-radius: 50%;
    margin-right:10px;
    transition: all 0.4s ease;
}
#home .header-content .social a i:hover {
    transform: scale(0.85);
}
header .header-content img {
    max-width : 400px;
}

/*Header End*/

/*About Start*/
#about , 
#skills ,
#projects {
    padding: 6rem 0;
}
#about h2 ,
#skills h2 ,
#projects h2 {
    text-align: center;
    font-size: 38px;
    color:var (--primary-color);
    font-weight: 600;
    letter-spacing: 1px;
}
#about hr , 
#skills hr ,
#projects hr{
    width:100px;
    height:3px;
    border:none;
    margin:5px auto 0;
    background-color: var(--secondary-color);
}
#about .about-content {
    margin-top: 4rem;
    display:grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
}
#about .about-content .col-1 h3 {
    font-size:28px;
    color:var(--primary-color);
    margin-bottom: 20px;
}  
#about .about-content .col-1 p {
    color:var(--gray);
    margin-bottom: 20px;
    line-height: 1.8;
}

#about .about-content .col-2 p {
    color:var(--gray);
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

/*About End*/

/*Skills Start*/
#skills {
    background-color: #294851;
}
#skills h2 , 
#projects h2{
    color : white;
}
#skills .row img {
    max-width: 40px ;
}
#skills .skills-content {
    margin-top: 2rem;
    background-color: #0f272d;
}
#skills .skills-content .row {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    align-items: center;
    text-align: center;
}
#skills .skills-content .row .item {
    color : white;
    background-color:black;
    margin:20px;
    padding : 1rem;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
}
#skills .skills-content .row .item:hover {
    box-shadow: 20px 20px 20px #00f4ab0c;
}
/*Skills End*/

/*Projects Start*/

#projects {
    background-color: #033b4a;
}
#projects .row {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    justify-content: center;
    align-items: center;
    gap : 2rem;
    margin-top: 4rem;
}
#projects .row .item {
    background-color: white;
    border-radius: 5px;
    transition:all 0.3 ease;
}
#projects .row .item:hover {
    transform: scale(1.03);
}
#projects .row .item .item-content {
    padding:20px 15px 30px;   
}
#projects .row .item .item-content h3 {
    font-size:20px;
    color:var(--primary-color);
    margin-bottom: 20px;
}
#projects .row .item .item-content a {
    font-size:20px;
    color: var(--secondary-color);
    font-weight:500;

}
#projects .row .item img {
    max-width: 100%;
    border-bottom: 2px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/*Projects End*/

/*Footer Start*/

#final {
    background-color: black;
    margin:auto;
    size: 50px;
    padding: 15px;
}
#final .final-text {
    color: white;
    font: 20px;
    text-align: center;
}
#final .final-text span {
    color:rgb(146, 241, 3)
}
/*Footer End*/